<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>可拖拽的路线规划</title>
    <script src="http://webapi.amap.com/maps?v=1.3&key=0b56e774df10081938cfcad128c7c837&plugin=AMap.MouseTool"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
</head>
<body>
<div id="container" style="height: 1080px;"></div>
<script type="text/javascript" src="http://show.chegong.com/static/push/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript">


var map;
map = new AMap.Map('container', {
    resizeEnable: true,
    zoom: 10,
    center: [116.463007, 39.81717]
});
// map2.setMapStyle('amap://styles/blue');
AMap.plugin(["AMap.ToolBar", 'AMap.Scale'], function() {
    map.addControl(new AMap.ToolBar());
    map.addControl(new AMap.Scale()); //比例尺
});

 
map.setMapStyle('amap://styles/blue');
   var mouseTool = new AMap.MouseTool(map);  
var drawPolyline = mouseTool.polyline(); 

var geocoder
AMap.plugin('AMap.Geocoder',function(){
    geocoder = new AMap.Geocoder({
        city: "010"//城市，默认：“全国”
    });       
});
AMap.event.addListener( mouseTool,'draw',function(e){ 
var obj_arr= {}
var total_arr = [];
var address = [];
var length = e.obj.getPath().length;
var ij = 0;

  for(var i=0;i<e.obj.getPath().length;i++){
       obj_arr[i] = [];
      
        for (k in e.obj.getPath()[i]) {
            if(k=='lng'){
                obj_arr[i].push(e.obj.getPath()[i][k])
            }
            if(k=='lat'){
                obj_arr[ i].push(e.obj.getPath()[i][k])  

            }

        }
            geocoder.getAddress(obj_arr[i],function(status,result){
                if(status=='complete'){
                    as=result.regeocode.formattedAddress;
                    cnmp(as)
                }            
            })
            function cnmp(a){
                obj_arr[ij].push(a)
                ij++;

            }
  }
    console.log(obj_arr)
     $.post('http://localhost/index/ins',obj_arr,function(d){});
  
});

</script>
</body>
</html>