<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车府令管控平台</title>
    <link rel="stylesheet" href="__INDEX_CSS__/common.css?v=20180625">
    <link rel="stylesheet" href="__INDEX_CSS__/VerticalMenu.css?v=20180625">
    <link rel="stylesheet" type="text/css" href="__INDEX_CSS__/calendar.css">
    <link rel="stylesheet" href="__INDEX_CSS__/history.css?v=20180625">
    <link href="http://www.jq22.com/jquery/font-awesome.4.6.0.css" rel="stylesheet" media="screen">
    <style>
        .ui-datepicker-date {
            height: 38px;
        }

        .ui-datepicker-date input {
            height: 38px;
            width: 100%;
            font-size: 16px;
        }

        .ui-date-quick-button {
            width: 40%;
            margin-left: 5%;
        }

        .ui-datepicker-css {
            width: 100%;
            padding: 0;
            margin-left: 18px;
            border: none;
        }

        .tips {
            position: absolute;
            z-index: 99;
            background: rgba(0, 0, 0, 0.2);
            color: #fff;
            width: 260px;
            padding: 5px;
        }

        .tips div {
            padding: 5px 10px;
        }

        .amap-maptype-list {
            display: none !important;
        }

        .amap-maptypecontrol {
            top: 0;
            right: 0;
        }
    </style>

    <script type="text/javascript"
            src="https://webapi.amap.com/maps?v=1.3&key=0b56e774df10081938cfcad128c7c837"></script>
</head>
<body style="background:#001e36;">
<div style="display: none;" class="alert">
    <div>
        <div class="top"><p>默认时间（今天）内暂无行驶轨迹</p></div>
        <div class="bottom clear_fl">
            <button id="ok" style="left:320px">确定</button>
        </div>
    </div>
</div>
{include file='index/header' num='4'}
<div class="clear_fl relative common_body" >
    <div class="left" style="width: 15%;min-width: 160px;">

        <div class="ver_list" style="">
            <div class="tab_click">
                <span class="driver_click com_bg" style="display: none">驾驶员</span><span class="car_click com_bg" style="width: 100%">车辆</span>
            </div>
            <!--<div class="all_title com_bg">全部</div>-->
            <!--车辆列表-->
            <div class="VerticalMenu tab_car" style="">
                {volist name='clist' id='item'}
                <div>
                    {if count($clist)>1}
                    <div class="company">
                        <span>{$user_name[$key]}</span><span
                            style="display: none;width: 10px;overflow: hidden">{$key}</span>
                    </div>
                    {/if}
                    {volist name='item' id='val'}

                    <div name="xz" {if count($clist)
                    <2} style='display:block'{/if}>

                    <div>
                        <div class="depart" {if count($clist)
                        <2} style='height:50px;line-height:50px;'{/if}>
                        <span>{$val.0.department_name}</span><span class="key_none"
                                                                   style="display: none;width: 10px;overflow: hidden">{$val.0.department_id}</span>
                        <i class="fa fa-angle-right fa-lg"></i>
                    </div>
                    <div name="xz1" class="depart_one">
                        {volist name='val' id='v'}
                        <div><p><span class="obd_key_none">{$v.obd_id}</span><span>{$v.plate_num}—{$v.car_name}</span>
                        </p></div>
                        {/volist}
                    </div>
                </div>
            </div>
            {/volist}
        </div>
        {/volist}
    </div>
    <!--人员列表-->
    <div class="VerticalMenu tab_driver" style="display: none">

        {volist name='dlist' id='val'}
        <div>
            {if count($dlist)>1}
            <div class="company">
                <span>{$val.0.username}</span><span style="display: none;width: 10px;overflow: hidden">{$key}</span>
            </div>
            {/if}
            <div name="xz1" class="depart_one" {if count($dlist)
            <2} style='display:block'{/if}>
            {volist name='val' id='v'}
            <div><p><span class="key_none">{$v.id}</span><span>{$v.name}</span></p></div>
            {/volist}
        </div>
    </div>
    {/volist}
</div>
</div>
</div>
<div class="left" style="width: 84%;">
    <div class="clear_fl" style="width:100%;height: 60px;">
        <div class="ui-datepicker-quick  left" style="width: 40%;">
            <div>
                <input class="ui-date-quick-button com_bg" type="button" value="今天" alt="0" name=""/>
                <input class="ui-date-quick-button" type="button" value="昨天" alt="-1" name=""/>

                <!--<input class="ui-date-quick-button" type="button" value="一周" alt="-6" name=""/>-->
                <!--<input class="ui-date-quick-button" type="button" value="半月" alt="-14" name=""/>-->
            </div>
        </div>
        <div class="left" style="position: relative;width: 20%">
            <div class="zdy_date " style="">
                自定义日期
            </div>
            <input type="text" class="ui-datepicker-time  " readonly value="" style="display: none;margin-top: 21px;"/>
            <div class="ui-datepicker-css  " style="position: absolute;">
                <div class="ui-datepicker-choose  relative">
                    <!--<p>自选日期<a class="ui-close-date">X</a></p>-->
                    <div class="ui-datepicker-date">
                        <!--<input name="startDate" id="startDate" class="startDate" readonly value="2014-12-20" type="text">-->
                        <!--——-->
                        <input name="endDate" id="endDate" class="endDate" readonly value="2014-12-20" type="text"
                               onchange="datePickers()">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="relative yhtj_map" style="width: 100%">
        <div id="gj_map" style=""></div>
    </div>
</div>

</div>
</body>
<script type="text/javascript" src="__INDEX_JS__/jquery.min.js"></script>
<script type="text/javascript" src="__INDEX_JS__/common.js"></script>
<script src="https://webapi.amap.com/ui/1.0/main.js"></script>
<script src="__INDEX_JS__/jquery-ui-1.9.2.custom.js" type="text/javascript" language="javascript"></script>
<script src="__INDEX_JS__/zdy_time.js" type="text/javascript"></script>
<script type="text/javascript" src="__INDEX_JS__/ichart.1.2.min.js"></script>
<script type="text/javascript" src="__INDEX_JS__/history.js"></script>


</html>