<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车府令管控平台</title>
    <link rel="stylesheet" href="__INDEX_CSS__/common.css">
    <link rel="stylesheet" href="__INDEX_CSS__/VerticalMenu.css">
    <link rel="stylesheet" type="text/css" href="__INDEX_CSS__/calendar.css">
    <link rel="stylesheet" href="__INDEX_CSS__/kpi.css">
</head>
<body style="background:#001e36;">
{include file='index/header' num='5'}

    <div class="clear_fl relative common_body" style="">
        <div class="left" style="width: 15%;min-width: 160px;">
            <div class="ver_list" style="margin-top: 5px;">
                <div class="all_title com_bg">全部</div>
                <div class="VerticalMenu">

                    {volist name='list' id='val'}
                    <div>
                        {if count($list)>1}
                        <div class="company">
                            <span>{$val.0.username}</span><span  style="display: none;width: 10px;overflow: hidden">{$key}</span>
                        </div>
                        {/if}
                        <div name="xz1" class="depart_one" {if count($list)<2} style='display:block'{/if}>
                            {volist name='val' id='v'}
                            <div><p><span class="key_none">{$v.id}</span><span>{$v.name}</span></p></div>
                            {/volist}
                        </div>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
        <div class="left" style="width: 84%; min-width: 840px;">
            <div class="clear_fl" style="height: 70px;width:100%;">
                <div class="ui-datepicker-quick  left" style="width:80%;">
                    <div style="width:100%;">
                        <input class="ui-date-quick-button com_bg" type="button" value="今天" alt="0"  name=""/>
                        <input class="ui-date-quick-button" type="button" value="一周" alt="-6" name=""/>
                        <input class="ui-date-quick-button" type="button" value="半月" alt="-14" name=""/>
                        <input class="ui-date-quick-button" type="button" value="一月" alt="-29" name=""/>
                    </div>
                </div>
                <div class="left" style="position: relative;width: 16%">
                    <div class="zdy_date " style="display: ;">
                        自定义日期
                    </div>
                    <input type="text" class="ui-datepicker-time  " readonly value=""  style="display: none;width: 120%" />
                    <div class="ui-datepicker-css  " style="position: absolute;">
                        <div class="ui-datepicker-choose  relative">
                            <p>自选日期<a class="ui-close-date">X</a></p>
                            <div class="ui-datepicker-date">
                                <input name="startDate" id="startDate" class="startDate" readonly value="2014-12-20" type="text">
                                ——
                                <input name="endDate" id="endDate" class="endDate" readonly  value="2014-12-20" type="text" disabled onchange="datePickers()">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear_fl" style="margin-left:12px ;">
                <div class="left" style="width: 33%">
                    <div class="kpi_left_top relative" style="width: 100%">
                        <div class="absolute" style="width: 100%">
                            <img src="/static/index/image/kpi/top.png" alt="" style="width: 100%">
                        </div>
                        <div class="absolute" style="width: 100%">
                            <div class="kpi_title">行驶时间</div>
                            <div id="bt"></div>
                            <div class="clear_fl ">
                                <div class="left">
                                    <p class="bt_txt">怠速时长</p>
                                    <p class="ds_time">00:00:00</p>
                                </div>
                                <div class="left">
                                    <p class="bt_txt">行驶时长</p>
                                    <p class="xs_time">00:00:00</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="kpi_left_bottom relative" style="">
                    <div class="absolute " style="width: 100%">
                        <img src="/static/index/image/kpi/bottom.png" alt="" style="width: 100%">
                    </div>
                    <div class="absolute" style="width: 100%">
                        <div class="xs_data">行驶数据</div>
                        <div id="xs_data_show">
                            <p style="text-align: center;padding-top: 10px;color:white;">暂无数据</p>
                        </div>
                    </div>
                        
                    </div>
                </div>
                <div class="left" style="width: 33%">
                    <div id="sg" class="kpi_left_top left_common_bg relative" style="width: 100%">
                        <div class="absolute" style="width: 100%">
                            <img src="/static/index/image/kpi/top.png" alt="" style="width: 100%">
                        </div>
                        <div class="absolute" style="width: 100%">
                             <div class="kpi_title">事故</div>
                            <div>
                                <div class="table">
                                    <div class="table_td"><p>事故次数</p></div>
                                    <div class="table_td"><p id="p_sg_num">{$num.1}次</p></div>
                                </div>
                                <div class="table">
                                    <div class="table_td"><p>最近事故</p></div>
                                    <div class="table_td"><p id="p_sg_time">{$time.1}</p></div>
                                </div>
                            </div>
                            <div class="show_detail">详细信息</div>
                            <ul id="show_sg_more">
                                {volist name='driver_cost1' key='k' id='val'}
                                {volist name='val.1' key='k' id='v'}
                                {notempty name='v.id'}
                                <li style="margin-left: 44px;">司机<{$v.name}>在{$v.add_time}当天发生事故<br>金额: {$v.accident_cost}￥  描述: {$v.car_describe}</li>
                                {/notempty}
                                {/volist}
                                {/volist}
                            </ul>
                        </div>                       
                    </div>
                    <div id="wz" class="kpi_left_bottom left_common_bg relative" style="width: 100%">
                        <div class="absolute" style="width: 100%">
                             <img src="/static/index/image/kpi/bottom.png" alt="" style="width: 100%">
                        </div>
                        <div class="absolute" style="width: 100%">
                            <div class="xs_data">违章</div>
                        <div>
                            <div class="table">
                                <div class="table_td"><p>违章次数</p></div>
                                <div class="table_td"><p id="p_wz_num">{$num.0}次</p></div>
                            </div>
                            <div class="table">
                                <div class="table_td"><p>最近违章</p></div>
                                <div class="table_td"><p id="p_wz_time">{$time.0}</p></div>
                            </div>
                        </div>
                        <div class="show_detail">详细信息</div>
                        <ul id="show_wz_more">
                            {volist name='driver_cost0' key='k' id='val'}

                            {volist name='val.0' id='v'}
                            {notempty name='v.id'}
                            <li style="margin-left: 44px;">司机<{$v.name}>在{$v.add_time}当天违章<br>金额: {$v.accident_cost}￥  描述: {$v.car_describe}</li>
                            {/notempty}
                            {/volist}
                            {/volist}
                        </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="left" style="width: 33%">
                    <div class="relative kpi_left_top" >
                        <div class="absolute" style="width: 100%">
                            <img src="/static/index/image/kpi/top.png" alt="" style="width: 100%">
                        </div>
                        <div class="absolute" style="width: 100%">
                            <div class="kpi_left_top yhtj_right_top absolute">
                                <p class="kpi_title">里程占比</p>
                            </div>
                            <div class="" style="margin-top: 10%">
                                <div id="hxt" class="absolute"></div>
                                <div class="absolute hxt_bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="relative kpi_left_bottom">
                        <div class="absolute " style="width: 100%">
                            <img src="/static/index/image/kpi/bottom.png" alt="" style="width: 100%">
                        </div>
                        <div class="absolute" style="width: 100%">
                            <div class="xs_data"><p>行程数据</p></div>
                            <div id="" class="xs_data_show" style="width: 100%">
                                <p style="width: 100%; text-align: center;padding-top: 10px;color:white;">暂无数据</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>  
</body>

<script type="text/javascript" src="__INDEX_JS__/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="__INDEX_JS__/common.js"></script>
<script type="text/javascript" src="__INDEX_JS__/ichart.1.2.min.js"></script>
<script src="__INDEX_JS__/jquery-ui-1.9.2.custom.js" type = "text/javascript" language="javascript"></script>
<script src="__INDEX_JS__/calendar.js" type = "text/javascript"></script>
<script type="text/javascript" src="__INDEX_JS__/kpi.js"></script>


</html>